@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본적인 리셋 스타일 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: white;
  color: black;
}

/* 링크 기본 스타일 */
a {
  text-decoration: none;
  color: inherit;
}
